@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    KR Garden,<br />
   5th main road, Murgeshpalya, Bengaluru<br />
    <abbr title="Phone">P:</abbr>
9731798388
7338422469
</address>

<address>
    <strong>CEO:</strong>   <a href="jain.monisha.17@gmail.com">jain.monisha.17@gmail.com</a><br />
    <strong>Manager:</strong> <a href="theresastheresas58@gmail.com">theresastheresas58@gmail.com</a><br />
</address>